# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Dependency directories
/.pnp
.pnp.js

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.yaml

# IDE files
.vscode/
.idea/
# macOS specific files
.DS_Store
.env.tests

/tests/testData
/coverage/*
!/coverage/.gitkeep

trigger.sh

